{% extends "backdb/prheader.html" %}
{% block content %}
			  <div class="col-sm-10">
				  <br>
				  <center>
				  <h1>Forums</h1>
				  </center>
			  </div>
		</div><hr>
			

	
		  <div class="col-sm-10" style='margin-left:200px'>
		  
			<div class='container-fluid'>
			<br><br><table style="width:100%">
  			<tr><b><th>Forum</th>
    	<th>Upvotes</th>
    	<th>Downvotes</th>
    	<th>Founded On</th><th>Author</th></b></tr>
			{% for forum in object_list %}<tr>
		<h5><th>
			<a href="/subforum/{{'forum.id'}}"> {{ forum.title }} </a></th> <th>{{forum.upvotes}}</th> <th>{{forum.downvotes}}</th> <th>{{forum.pub_date|date:"d M Y"}}</th><th>{{forum.author}}</th></h5></tr>
			{% endfor %}
	
			</table>
			</div>
		  </div>
		
{% endblock %}