{% extends "backdb/header.html" %}


{% block content %}
<!---
    <div id="content" class="colM">
        
        <h1>Register</h1>
        <div id="content-main">



<form enctype="multipart/form-data" action="" method="post" id="user_form" novalidate><input type='hidden' name='csrfmiddlewaretoken' value='vAWtLt6VaKeXogwkLqRS4MQCCRkNwC4wo1V08Jmvk9qSqsDAsNR26nkQ6L1s2xAs' />
<div>







  <fieldset class="module aligned ">
    
    
    
        <div class="form-row field-handle">
            
            
                <div>
                    
                    
                        <label class="required" for="id_handle">Handle:</label>
                        
                            <input class="vTextField" id="id_handle" maxlength="30" name="handle" type="text" required />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-passwd">
            
            
                <div>
                    
                    
                        <label class="required" for="id_passwd">Passwd:</label>
                        
                            <input class="vTextField" id="id_passwd" maxlength="30" name="passwd" type="text" required />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-first_name">
            
            
                <div>
                    
                    
                        <label class="required" for="id_first_name">First name:</label>
                        
                            <input class="vTextField" id="id_first_name" maxlength="30" name="first_name" type="text" required />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-last_name">
            
            
                <div>
                    
                    
                        <label class="required" for="id_last_name">Last name:</label>
                        
                            <input class="vTextField" id="id_last_name" maxlength="30" name="last_name" type="text" required />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-gender">
            
            
                <div>
                    
                    
                        <label class="required" for="id_gender">Gender:</label>
                        
                            <input class="vTextField" id="id_gender" maxlength="1" name="gender" type="text" required />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-birth_date">
            
            
                <div>
                    
                    
                        <label class="required" for="id_birth_date">Your Birth Date:</label>
                        
                            <input class="vDateField" id="id_birth_date" name="birth_date" size="10" type="text" required />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-ph_no">
            
            
                <div>
                    
                    
                        <label class="required" for="id_ph_no">Ph no:</label>
                        
                            <input class="vTextField" id="id_ph_no" maxlength="14" name="ph_no" type="text" required />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-email">
            
            
                <div>
                    
                    
                        <label class="required" for="id_email">Email:</label>
                        
                            <input class="vTextField" id="id_email" maxlength="254" name="email" type="email" required />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-bio">
            
            
                <div>
                    
                    
                        <label class="required" for="id_bio">Bio:</label>
                        
                            <textarea class="vLargeTextField" cols="40" id="id_bio" maxlength="3000" name="bio" rows="10" required>
</textarea>
                        
                    
                    
                </div>
            
        </div>
    
</fieldset>













<div class="submit-row">
<input type="submit" value="Save" class="default" name="_save" />


<input type="submit" value="Save and add another" name="_addanother" />
<input type="submit" value="Save and continue editing" name="_continue" />
</div>



    <script type="text/javascript"
            id="django-admin-form-add-constants"
            src="/static/admin/js/change_form.js"
            
                data-model-name="user"
            >
    </script>




<script type="text/javascript"
        id="django-admin-prepopulated-fields-constants"
        src="/static/admin/js/prepopulate_init.js"
        data-prepopulated-fields="[]">
</script>


</div>
</form></div>-->
{% endblock %}
