{% extends "backdb/header.html" %}
{% block content %}
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Lets get to know you</h3>
			 			</div>
			 			<div class="panel-body">
			    		<form role="form">
			    			<div class="row">
			    				<div >
			    					<div class="form-group">
			                <input type="text" name="handle" id="handle" class="form-control input-sm" placeholder="Handle">
			    					</div>
			    				</div>
			    				<div>
			    					<div class="form-group">
			    						<input type="text" name="date_birth" id="date_birth" class="form-control input-sm" placeholder="Date of Birth">
			    					</div>
			    				</div>
			    			</div>
			    			<div class="row">	
			    			<div class="form-group">
			    				<input type="text" name="gender" id="gender" class="form-control input-sm" placeholder="Gender">
			    			</div>
			    			</div>
			    			<div class="row">
			    				<div>
			    					<div class="form-group">
										<input type="tel" name="phonenumber" placeholder="Phone Number">
			    					</div>
			    				</div>
			    				<div >
			    					<div class="form-group">
			    						<input type="text" name="qualification" id="qualification" class="form-control input-sm" placeholder="Qualification">
			    					</div>
			    				</div>
			    				<div>
			    					<div class="form-group">	
			    						<textarea class = "form-control" rows = "3" placeholder="Bio"></textarea>
			    					</div>
			    				</div>

			    			</div>
			    			
			    			<input type="submit" value="Submit" class="btn btn-info btn-block">
			    		
			    		</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
{% endblock %}
