{% extends "backdb/prheader.html" %}
{% block content %}
<div class="container">
<div class="row">
<div class="col-sm-15" style='margin-left:200px'>
<h3>tau add thread title</h3>
</div><!-- /col-sm-12 -->
</div><!-- /row -->
<div class="row">
<div class="col-sm-20" style='margin-left:200px'>
<div class="panel panel-default">
<div class="panel-heading">
<strong>tau add username</strong> 
</div>
<div class="panel-body">
Tau add content
</div><!-- /panel-body -->
</div><!-- /panel panel-default -->
</div><!-- /col-sm-5 -->
</div><!-- /row -->

</div><!-- /container -->
{% endblock %}