<!DOCTYPE html PUBLIC "-//W4C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>Django Login Application |
        {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
                <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <h1>HotBox</h1>
        <h2>{% block head %}{% endblock %}</h2>
        {% block content %}{% endblock %}
        <p>ADD PARAGRAPH FOR TRENDING BOX then its position can be changed in different pages using css</p>
    </body>
</html>
